/* rubik-500 - latin_cyrillic */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v20-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/rubik-v20-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/rubik-v20-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/rubik-v20-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */ url('../fonts/rubik-v20-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/rubik-v20-latin_cyrillic-500.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* rubik-regular - latin_cyrillic */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v20-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/rubik-v20-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/rubik-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/rubik-v20-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/rubik-v20-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/rubik-v20-latin_cyrillic-regular.svg#Rubik') format('svg'); /* Legacy iOS */
}




    .owl-theme .owl-nav [class*=owl-]:hover{
        opacity: 0.6;
        transition: all .5s ease;
        background: transparent;
    }
    .owl-theme .owl-nav [class*=owl-] {
        margin: 20px;
    }

    .owl-theme .owl-nav{
        max-height: 20px;
        text-align:left;
    }

    .owl-nav .owl-prev{
        border: none;
    }

    .owl-nav .owl-next{
        border: none;
    }

    html {
        scroll-behavior: smooth;
        box-sizing: border-box;
    }

    *, *::before, *::after {
        box-sizing: inherit;
    }

    body, button, input {
        font-family: 'Rubik', serif;
        font-style: normal;
        font-size: 16px;
        line-height: 1.2;
        font-weight: normal;
        background: #F2F2F2;
    }

    input{
        border-radius: 0;
    }

    /* The sidenav start*/
    .sidenav__list {
        justify-items: center;
        display: grid;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100px;
        background-color: #ffffff;
    }
    .sidenav__list {

    }

    .sidenav__currency {
        margin-top: 168px;
        text-align: center;
    }

    .sidenav__chat {
        margin-top: 168px;
    }

    .sidenav__up {
        display: inline-flex;
        margin-top: 168px;
        writing-mode: vertical-lr;
        text-orientation: sideways;
    }

    .sidenav__up a{
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        margin-top: 15px;
        transform: rotate(180deg);
    }

    .sidenav__up a:hover{
        color: black;
    }

/* dropdown sidenav currency */

    .overlay__footer .sidenav__dropbtn {
        color: white;
        text-decoration-color: rgba(255, 255, 255, 0.5);
    }

    .overlay__footer .sidenav__dropdown{
        width: 35px;
    }

    .sidenav__dropbtn {
        background-color: transparent;
        color: black;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 19px;
        line-height: 21px;
        text-decoration: dashed underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 1px;
        text-decoration-color: rgba(0, 0, 0, 0.5);
        border: none;
    }

    .sidenav__dropdown {
        width: 100px;
        position: relative;
        display: inline-block;
    }

    .sidenav__dropdown-content {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background-color: #1A2298;
        min-width: 100px;
        z-index: 1;
    }

    .sidenav__dropdown-content a:hover {
        border-radius: 3px;
        text-shadow: 0 0 15px #10fff7;
        transition: all .35s ease;
        color: #00c4f0;
    }

    .sidenav__dropdown-content a {
        color: white;
        text-align: center;
        padding-bottom: 20px;
        font-size: 19px;
        line-height: 21px;
        text-decoration: none;
        display: block;
    }

    .sidenav__dropdown:hover .sidenav__dropdown-content {
        opacity: 1;
        visibility: visible;
        transition: all .5s ease;
    }

    .sidenav__dropdown:hover .sidenav__dropbtn {
        color: #0090F0;
        text-decoration: none;
        background-color: #1A2298;
        min-width: 100px;
        transition: all .5s ease;
    }

    /* The sidenav end*/

    /* header styles start */
    .header {
        width: 100%;
        z-index: 1;
    }

    .header__nav {
        z-index: 1;
        position: relative;

    }

    .header__nav > nav-list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 0 auto;
        width: 100%;
        z-index: 2;
        align-items: center;
    }

    .header__nav > nav-list *{
        z-index: 2;
    }

    .header__nav .header__logo {
        display: flex;
        margin-right: 20px;
        z-index: 4;
        align-items: center;
    }

    .header__nav .header__list {
        display: flex;
        justify-self: start;
        z-index: inherit;
    }

    .header__logo-pic {
        margin-top: 12px;
        margin-left: 18px;
    }

    .header__logo-text {
        margin-left: -5px;
    }

    .header__item {
        margin-right: 50px;
    }

    .header__item:last-child {
        margin-right: 0;
    }

    .header__link {
        font-size: 18px;
        line-height: 24px;
        color: white;
        text-decoration: none;
    }

    .header__link:hover, .header__link:focus, .header__link:active {
        border-radius: 3px;
        text-shadow: 0 0 15px #10fff7;
        transition: all .35s ease;
        color: #00c4f0;
    }

    .header__link-phone {
        font-size: 24px;
        line-height: 28px;
        text-decoration: dashed underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 1px;
        text-decoration-color: rgba(255, 255, 255, 0.5);
        color: white;
    }

    .header__link-wrap{
        display: flex;
        align-items: center;
    }

    .header__language  a{
        font-size: 15px;
    }

    .header__language .sidenav__dropdown-content{
        min-width: 40px;
        background-color: transparent;
    }

    .header__language .sidenav__dropdown{
        width: auto;
        background-color: transparent;
    }

    .header__language .sidenav__dropdown:hover .sidenav__dropbtn{
        min-width: 40px;
        background-color: transparent;
    }


    .header__menu-button{
        display: none;
    }


    /* dropdown contacts */
    .dropbtn {
        background-color: transparent;
        color: white;
        text-align: left;
        padding-top: 15px;
        padding-left: 30px;
        padding-bottom: 15px;
        font-size: 24px;
        line-height: 28px;
        text-decoration: dashed underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 1px;
        text-decoration-color: rgba(255, 255, 255, 0.5);
        border: none;
    }

    .dropdown {
        width: 230px;
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        position: absolute;
        background-color: #1A2298;
        min-width: 230px;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
    }

    .dropdown-content a {
        color: white;
        padding-top: 14px;
        padding-left: 30px;
        font-size: 15px;
        line-height: 21px;
        text-decoration: dashed underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 1px;
        text-decoration-color: rgba(255, 255, 255, 0.5);
        display: block;
    }

    .dropdown-content a:first-child{
        padding-top: 0;
        font-size: 23px;
        line-height: 28px;
        text-decoration: none;
    }

    .dropdown-content a:last-child{
        padding-top: 20px;
        padding-bottom: 27px;
        color: #0090F0;
        text-decoration: none;
    }

    .dropdown-content a:hover{
        opacity: .7;
    }

    .dropdown:hover .dropdown-content {
        display: block;
        opacity: 1;
        visibility: visible;
        transition: all .5s ease;
    }

    .dropdown:hover .dropbtn {
        color: #0090F0;
        text-decoration: none;
        background-color: #1A2298;
        min-width: 230px;
        transition: all .5s ease;
    }

    .header__language {
        margin-left: auto;
        margin-right: 50px;
    }

    .header__button {
        margin-right: 80px;
        font-size: 18px;
        line-height: 24px;
        padding: 0;
        color: white;
        background: transparent;
        border: none;
    }

    .header__button:hover, .footer__button:hover {
        border-radius: 3px;
        text-shadow: 0 0 15px #10fff7;
        transition: all .35s ease;
        color: #00c4f0;
    }

    .header__button a{
        color: white;
        text-decoration: none;
    }

    .header__login-img {
            margin-right: 14px;
    }

    /* header styles end */

    /* intro styles start */

    .intro {
        background: url("../img/top_bg.jpg") no-repeat center;
        background-size: cover;
        padding-top: 263px;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .intro__wrap {
        margin-left: 240px;
        margin-right: 140px;
    }

    .intro__title {
        max-width: 619px;
        font-weight: 500;
        font-size: 50px;
        line-height: 60px;
        color: white;
        margin-bottom: 22px;
    }

    .intro__subtitle {
        max-width: 546px;
        color: white;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 126px;
    }

    .intro__list-domains {
        display: flex;
        overflow: scroll;
    }

    .intro__item {
        display: flex;
        margin-right: 50px;
    }

    .intro__item:hover{
        transform: scale(107%);
        transition: all .6s ease;
    }


    .intro__link-domains {
        margin-right: 10px;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: white;
        text-decoration: dashed underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 1px;
        text-decoration-color: rgba(255, 255, 255, 0.5);
    }
    .intro__link-domains_first {
        margin-right: 10px;
        font-size: 34px;
        line-height: 28px;
        text-decoration: none;
        color: #0090F0;
    }

    .intro__link-domains_last{
        margin-right: 8px;
        font-weight: 400;
        font-size: 20px;
        line-height: 31px;
        color: white;
        text-decoration: dashed underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 1px;
        text-decoration-color: rgba(255, 255, 255, 0.5);
    }

    .intro__link-price_first{
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        color: #FFFFFF;
        text-decoration: none;
    }

    .intro__link-price {
        font-weight: 400;
        font-size: 20px;
        line-height: 31px;
        color: white;
        opacity: 0.5;
        text-decoration: none;
    }

    .intro__search-form{
        display: contents;
    }

    .intro__input-search {
        margin-top: 42px;
        display: flex;
        position: relative;
    }

    .intro__input-field {
        width: 1392px;
        height: 100px;
        font-size: 20px;
        line-height: 24px;
        padding-left: 60px;
        border: none;
        background-color: #ffffff;
    }

    .intro__input-button {
        width: 276px;
        height: 100px;
        font-size: 20px;
        line-height: 24px;
        border: none;
        color: white;
        background: #0090F0;
    }

    .intro__input-button:hover{
        color: white;
        background: #53a7e0;
    }


/* intro styles end */

/* best styles start */

    .best__wrap{
        margin-top: 745px;
        margin-left: 240px;
        margin-right: 140px;
        display: flex;
        flex-wrap: wrap;
        align-items: end;
        justify-content: space-between;
    }

    .best__title{
        max-width: 436px;
        font-size: 40px;
        line-height: 47px;
        color: #303030;
    }

    .best__list-domains{
        display: inline-flex;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    .best__item-domains{
        margin-right: 50px;
        margin-top: 40px;
        font-size: 24px;
        line-height: 28px;
     }

    .best__item-domains:hover{
        transform: scale(111%);
        transition: all .5s ease;
    }

    .best__item-domains:last-child {
        margin-right: 0;
    }

    .best__link-domains{
        border: none;
        text-decoration: dashed underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 1px;
        text-decoration-color: rgba(48, 48, 48, 0.5);
        color: #303030;
    }

    .best__link-domains_first{
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        text-decoration: none;
        color: #0090F0;
    }

    .best__item-img{
        margin-right: 12px;
    }

    .best__cards{
        overflow: scroll;
        display: inline-flex;
        width: -webkit-fill-available;
        grid-column-gap: 20px;
        justify-content: space-between;
        padding-top: 50px;
    }

    .best__card{
        width: 500px;
        background-color: white;
        padding: 70px 60px 60px 60px;
    }
    .best__card_premium{
        background: url("../img/best_bg.jpg");
        padding: 70px 60px 60px 60px;
    }

    .best__card_img{
        position: absolute;
        transform: translate(307px, -173px);
    }

    .best__card-title{
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        padding-bottom: 30px;
    }

    .best__card_premium .best__card-title {
        margin-top: -102px;
        color: white;
    }

    .best__card-list{
        overflow: hidden;
    }

    .best__card-items{
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
    }
    .best__card-items > p >  img{
        margin-left: 8px;
    }

    .best__card-items_tariff{
        padding-left: 15px;
    }

    .best__card_premium .best__card-items_tariff{
        color: white;
    }

    .best__card-price{
        margin-top: 38px;
        display: flex;
        align-items: baseline;
    }

    .best__card-price_numb{
        font-weight: 500;
        font-size: 70px;
        line-height: 83px;
        color: #0090F0;
    }

    .best__card-price_currency{
        margin-left: 12px;
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;
        color: #0090F0;
    }

    .best__card-price_month{
        margin-left: 5px;
        font-weight: 400;
        font-size: 26px;
        line-height: 31px;
        color: #303030;
    }
    .best__card_premium .best__card-price_month {
        color: white;
    }

    .best__card-button{
        margin-top: 22px;
        width: 380px;
        height: 80px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #303030;
        border: none;
    }

    .best__card_premium .best__card-button{
        background: #0090F0;
        color: white;
    }

    .best__card_premium .leader::after{
        color: white;
        opacity: 0.3;
    }

    .best__card_premium:before{
        content: url("../img/svg/hot_large.svg");
        position: sticky;
        display: inherit;
        transform: translate(305px, -106px);
    }

    .best__benefits{
        display: flex;
        flex-wrap: wrap;
        grid-column-gap: 40px;
        margin-top: 70px;
    }

    .best__benefits-cards{
        display: flex;
        margin-bottom: 40px;
    }

    .best__benefits-img{
        height: fit-content;
    }

    .best__benefits-body{
        padding-left: 22px;
    }

    .best__benefits-title{
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #303030;
    }

    .best__benefits-desc{
        width: 266px;
        padding-top: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #979797;
    }

    .leader{
        display: flex;
        color: #979797;
        align-items: flex-end;
    }

    .leader::after{
        margin-left: 15px;
        display: inline-block;
        font-size: 8px;
        line-height: initial;
        color: rgba(48, 48, 48, 0.3);
        content: "______________________________________________________";
        width: 0;
        white-space: nowrap;
    }


/* best styles end */

/* stock styles start */

    .stock {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 40px;
        width: inherit;
        height: 676px;
        background: #171fba;
        overflow: hidden;
    }

    .stock__wrap{
        margin-left: 240px;
        display: flex;
    }

    .stock__cards{
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        color: #FFFFFF;
    }

    .stock__card{
        display: flex;
        width: 760px;
        height: 400px;
        color: white;
    }

    .stock__card1{
        background: url("../img/stock_bg1.jpg") round;
    }

    .stock__card2{
        background: url("../img/stock_bg2.jpg") round;
    }

    .stock__card3{
        background: url("../img/stock_bg1.jpg") round;
    }

    .stock__card-base{
        margin-top: 99px;
        margin-left: 80px;
    }

    .stock__card-title{
        padding-right: 212px;
        margin-top: 30px;
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
    }

    .stock__card-more{
        text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: white;
    }

    .stock__card-sale{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .stock__card-sale_hot {
        margin-right: 30px;
    }

    .stock__card-sale img{
        width: 50%;
    }

    .stock__card-sale_desc{
        width: 132px;
        margin-top: 14px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        opacity: 0.6;
    }

    .stock__arrow{
        margin-left: 240px;
        display: flex;
        color: #FFFFFF;
    }

    .stock__pay{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 140px;
        margin-left: 240px;
        background-color: #27C16A;
    }

    .stock__pay-title{
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        color: #FFFFFF;
    }

    .stock__pay-payments{
        display: flex;
        height: 56px;
    }

/* stock styles end */


/* news styles start */

    .news__wrap{
        margin-top: 99px;
        margin-left: 240px;
        margin-right: 140px;
    }

    .news__title-wrap{
        display: flex;
        align-items: end;
        justify-content: space-between;
    }

    .news__title{
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        color: #303030;
    }

    .news__title-link{
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #303030;
        text-decoration: none;
    }

    .news__cards{
        display: flex;
        grid-column-gap: 20px;
        overflow: scroll;
        margin-top: 50px;
        justify-content: space-between;
    }

    .news__card{
        width: 500px;
        background-color: white;
    }

    .news__card-body{
        display: flex;
        flex-direction: column;
        padding: 60px 70px 50px 60px;
    }

    .news__card-title{
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #303030;
    }

    .news__card-desc{
        margin-top: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #303030;
        opacity: 0.6;
    }

    .news__card-footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #303030;
    }

    .news__card-footer > a{
        margin-left: 160px;
    }

    .news__card-footer_img{
        margin-right: 12px;
    }

/* news styles end */

/* footer styles start */

    .footer{
        margin-top: 100px;
        background: url("../img/footer_bg.jpg") no-repeat center;
        background-size: cover;
        position: absolute;
        width: -webkit-fill-available;;
    }

    .footer__wrap{
        margin-left: 240px;
        margin-right: 140px;
    }

    .footer__input-search {

    }

    .footer__search-form{
        display: flex;
    }

    .footer__input-field {
        width: 1093px;
        height: 100px;
        font-size: 20px;
        line-height: 24px;
        padding-left: 60px;
        border: none;
        background-color: #ffffff;
    }

    .footer__input-discount{
        background: url("../img/svg/footer_input_bg.svg") no-repeat;
        background-color: white;
        width: 355px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
     }

    .footer__input-img{
        margin-left: 10px;
    }

    .footer__input-discount p{
        max-width: 224px;
        padding-left: 14px;
        padding-right: 14px;
    }
    .footer__input-discount_small{
        display: none;
    }

    .footer__input-button {
        width: 276px;
        height: 100px;
        font-size: 20px;
        line-height: 24px;
        border: none;
        color: white;
        background: #FC9723;
    }

    .footer__input-button:hover{
        background: #fda53e;
        transition: all .5s ease;
    }

    .footer__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
        font-weight: 500;
        font-size: 60px;
        line-height: 71px;
        color: #FFFFFF;
    }

    .footer__login {
        display: flex;
        margin-top: 30px;
        margin-right: 140px;
    }


    .footer__button {
        font-size: 18px;
        line-height: 24px;
        padding: 0;
        color: white;
        background: transparent;
        border: none;
    }

    .footer__body{
        margin-top: 38px;
        display: flex;
        justify-content: space-between;
    }

    .footer__body-title{
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        color: #FFFFFF;
    }
    .footer__body-ul{
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }

    .footer__body-ul_double{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }

    .footer__body-li{
        margin-top: 30px;
        opacity: 0.7;
    }

    .footer__body-li:hover{

        opacity: 1;
    }

    .footer__foot{
        margin-top: 62px;
        margin-bottom: 93px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        display: flex;
        justify-content: space-between;
    }

    .footer__body-li_contacts .header__link-phone{
        margin-left: 0;
    }

    .footer__body-li_contacts{
        margin-top: 30px;
        color: #0090F0;
    }

    /* footer styles end */

    /* The Overlay (background) */
    .overlay {
        height: 0;
        width: 100vw;
        position: fixed;
        z-index: 3;
        left: 0;
        top: 0;
        background-color: #1A2298;
        overflow-x: hidden;
        transition: 0.5s;
    }
    .overlay__menu {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-left: 30px;
        margin-top: 58px;
        margin-right: 30px;
    }

    .overlay__menu h1 {
        font-weight: 400;
        font-size: 40px;
        line-height: 47px;
        color: white;
    }

    .overlay-content {
        position: relative;
        width: 100%;
        text-align: center;
        margin-top: 112px;
    }

    .overlay-content a {
        margin-top: 80px;
        text-decoration: none;
        font-size: 20px;
        color: #FFFFFF;
        display: block;
        transition: 0.3s;
    }

    .overlay-content a:hover, .overlay-content a:focus, .overlay-content a:active {
        border-radius: 3px;
        text-shadow: 0 0 15px #10fff7;
        transition: all .35s ease;
        color: #00c4f0;
    }

    .overlay-content .overlay__login{
        display: none;
    }

    .overlay__footer{
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 10%;
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .overlay__footer a {
        color: white;
    }


/* footer styles end */



@media (max-width: 1900px) {


    .best__wrap {
        margin-right: 0;
    }

    .best__list-domains {
        margin-right: 90px;
    }

    .news__wrap{
        margin-right: 0;
    }
    .news__title-wrap {
        margin-right: 90px;
    }

}

@media (max-width: 1665px) {

    .header__language {
        margin-right: 15px;
    }

    .header__button{
        margin-right: 40px;
    }

}

@media (max-width: 1550px) {

    .sidenav__list{
        display: none;
    }

    .sidenav__dropdown:hover .sidenav__dropbtn {
        color: #0090F0;
        text-decoration: none;
        background-color: #1A2298;
        min-width: auto;
    }

    .sidenav__dropdown-content {
        position: absolute;
        background-color: #1A2298;
        margin-left: 6px;
        min-width: auto;
        z-index: 1;
        top: -215%;
    }

    /* header+intro styles start */


    .header__logo{
        display: contents;
    }

    .dropdown{
        display: none;
    }

    .header__language {
        display: none;
    }

    .header__button {
        display: none;
    }

    .header__logo-pic {
        margin-top: 12px;
        margin-left: 3px;
    }

    .header__menu-button{
        margin-top: 9px;
        margin-right: 30px;
        font-size:30px;
        display: block;
        border-radius: 30px;
    }

    .header__menu-button:hover{
        transform: rotate(180deg);
        transition: all 1s ease;
        box-shadow: 0 0 12px #59d8ff;

    }

    .header__item{
        width: max-content;
        display: inline-flex;
        margin-right: 40px;
        align-items: flex-end;
    }

    .overlay__content-list{
        display: none;
    }

    .overlay__login .footer__button{
        margin-right: 60px;
    }

    .closebtn:hover, .closebtn:active, .closebtn:focus{
        transform: rotate(180deg);
        transition: all 1s ease;
        box-shadow: 0 0 12px #59d8ff;
        border-radius: 30px;
    }

    .intro__input-field {
        padding-left: 40px;
    }

    .intro__wrap {
        margin-left: 90px;
        margin-right: 90px;
    }

    .best__wrap {
        margin-left: 90px;
    }

    .stock__wrap{
        margin-left: 90px;
    }

    .stock__pay{
        margin-left: 90px;
    }

    .news__wrap{
        margin-left: 90px;
    }

    .footer__wrap{
        margin-left: 90px;
        margin-right: 90px;
    }
    .footer__login {
        margin-right: 20px;
    }

}

@media (max-width: 1060px) {


    .intro__wrap {
        margin-left: 30px;
        margin-right: 30px;
    }

    .header__item{
        display: none;
    }

    .overlay__content-contacts{
        display: none;
    }

    .overlay__content-list{
        display: block;
    }

    .best__wrap {
        margin-left: 30px;
    }

    .stock__wrap{
        margin-left: 30px;
    }

    .stock__pay{
        margin-left: 30px;
    }

    .news__wrap{
        margin-left: 30px;
    }
    .news__title-wrap {
        margin-right: 30px;
    }

    .footer__wrap{
        margin-left: 30px;
        margin-right: 30px;
    }

    .footer__input-field {
        padding-left: 40px;
    }

    .footer__input-discount{
        display: none;
    }

    .footer__input-discount_small{
        height: 100px;
        display: flex;
        align-items: center;
        background-color: #FEF4E9;
    }
    .footer__input-img{
        margin-left: 40px;
        padding-right: 14px;
    }

    .footer__input-button {

    }

    .footer__body {
        margin-top: 38px;
        display: grid;
        grid-template-columns:none;
    }

    .footer__body-title{
        margin-top: 38px;
    }

    .footer__body-ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__button {
        width: max-content;
        margin-right: 0;
    }


}

@media (max-width: 869px) {

    .owl-theme .owl-nav{
        text-align:center;
    }

    .intro__wrap {
        margin-left: 30px;
        margin-right: 30px;
    }


    /* header+intro styles end */

    /* best styles start */

    .best{
        overflow: hidden;
    }

    .best__wrap {
        margin-left: 30px;
        flex-direction: column;
        align-items: flex-start;
    }

    .best__title{
        margin-bottom: 0;
    }

    .best__cards {
        overflow: scroll;
    }

    .stock__card-sale {
        margin-right: 50px;
    }

    .stock__card-base {
        margin-top: 77px;
    }

    .best__benefits-cards {
        padding-bottom: 40px;
    }

    .best__benefits-desc{
        width: 238px;
    }

    .best__list-domains{
        width: auto;
        margin-right: 20px;
    }

    /* best styles end */

    /* stock styles start */

    .stock{
        width: auto;
    }

    .stock__wrap {
        margin-left: 30px;
    }

    .stock__pay {
        flex-direction: column;
        justify-content: space-evenly;
        height: 192px;
        margin-left: 0;
    }

    .stock__pay-title {
         margin-left: 10px;
         margin-right: 10px;
    }

    .stock__pay-logo {
        margin-left: 0;
        margin-right: 0;
    }

    .stock__pay-payments img{
        display: block;
        height: 56px;
    }

    /* stock styles end */

    /* news styles start */

    .news{
        overflow: hidden;
    }

    .news__wrap {
        margin-left: 30px;
    }


    /* news styles end */


    /* footer styles start */

    .footer {
        background: url("../img/footer_bg_tablet.jpg") round;
        margin-left: 0;
    }

    .footer__wrap {
        margin-left: 30px;
    }


    /* footer styles end */

}

@media (max-width: 700px) {

    .footer__title{
        display: block;
    }

    .dropbtn {
        display: none;
    }

    .overlay-content .overlay__phone {
        display: block;
        font-size: 25px;
        text-decoration: dashed underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 1px;
        text-decoration-color: rgba(255, 255, 255, 0.7);
    }

    .overlay .closebtn img {
        width: 50px;
    }
}

@media (max-width: 600px) {

    .owl-carousel .owl-item img:nth-child(1) {
        width: 25px;
    }

    .owl-carousel .owl-item img {
        width: 16px;
    }

    .owl-theme .owl-nav img {
        height: 18px;
    }

    .owl-theme .owl-nav [class*=owl-] {
        margin: 10px;
    }


    .header__logo-pic {
        margin-top: 12px;
        height: 110px;
    }

    .header__logo-text {
        margin-left: 0;
        height: 15px;
    }

    .header__nav .header__logo {
        margin-right: 0;
    }

    .header__menu-button {
        margin-right: 30px;
    }

    .header__menu-button img {
        height: 40px;
    }

    .overlay__menu .footer__button {
        display: none;
    }

    .overlay-content .overlay__login {
        display: block;
    }

    .overlay__login .footer__button{
        margin-right: 0;
    }

    .overlay__menu h1 {
        font-size: 30px;
    }

    .overlay__menu {
        align-items: center;
        margin-top: 42px;
    }

    .overlay-content {
        margin-top: 40px;
    }

    .overlay-content a {
        margin-top: 40px;
        font-size: 16px;
    }

    .overlay-content .overlay__phone {
        display: block;
        font-size: 20px;
        text-decoration: dashed underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 1px;
        text-decoration-color: rgba(255, 255, 255, 0.7);
    }

    .overlay .closebtn img {
        width: 40px;
    }

    .sidenav__dropbtn, .sidenav__dropdown-content a{
        font-size: 16px;
        line-height: 18px;
    }

    .intro__wrap {
        margin-left: 25px;
        margin-right: 25px;
    }

    .intro {
        padding-top: 190px;
    }

    .intro__title {
        font-size: 36px;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .intro__subtitle {
        font-size: 15px;
        margin-bottom: 79px;
    }

    .intro__item {
        margin-right: 16px;
    }

    .intro__link-domains_first {
        margin-right: 7px;
        font-size: 24px;
    }

    .intro__link-price_first {
        font-size: 17px;
    }

    .intro__link-domains {
        margin-right: 6px;
        font-size: 17px;
    }

    .intro__link-price {
        font-size: 13px;
    }

    .intro__link-domains_last {
        font-size: 17px;
    }

    .intro__input-field {
        padding-left: 20px;
        height: 70px;
        font-size: 17px;
    }

    .intro__input-button {
        margin-top: 0;
        width: 280px;
        height: 70px;
        font-size: 17px;
    }

    .best__wrap {
        margin-left: 25px;
        margin-top: 470px;
    }

    .best__title {
        margin-top: 30px;
        font-weight: 500;
        font-size: 30px;
        line-height: 34px;
    }

    .best__list_overflow {
        width: 400px;
        overflow: scroll;
    }

    .best__list-domains {
    }

    .best__link-domains_first {
        font-size: 26px;
        line-height: 28px;
    }

    .best__item-domains {
        font-size: 19px;
        line-height: 21px;
        margin-top: 14px;
        margin-right: 20px;
    }

    .best__cards {
        display: block;
        margin-top: 0;
    }

    .best__card {
        width: auto;
        margin-right: 10px;
        padding: 40px;
    }

    .best__card_premium {
        width: auto;
        margin-right: 10px;
        padding: 40px;
    }

    .best__card_premium:before {
        display: none;
    }


    .best__card-title {
        padding-bottom: 14px;
        font-size: 25px;
        line-height: 27px;
    }

    .best__card-img_business {
        width: revert-layer;
        width: -webkit-fill-available;
    }

    .best__card_premium .best__card-title {
        margin-top: 0;
    }

    .best__card-list {
        font-size: 16px;
        line-height: 19px;
    }

    .best__card-items {
        margin-top: 19px;
    }

    .best__card-price {
        margin-top: 29px;
    }

    .best__card-price_numb {
        font-size: 55px;
        line-height: 67px;
    }

    .best__card-price_currency {
        font-size: 16px;
        line-height: 18px;
    }

    .best__card-price_month {
        font-size: 21px;
        line-height: 24px;
    }

    .best__card-button {
        margin-top: 10px;
        width: -webkit-fill-available;;
        height: 65px;
        font-size: 19px;
        line-height: 23px;
    }

    .best__benefits {
        margin-top: 50px;
    }

    .best__benefits-cards {
        padding-bottom: 20px;
    }

    .best__benefits-title {
        font-size: 18px;
        line-height: 22px;
    }

    .best__benefits-desc {
        padding-top: 10px;
        font-size: 15px;
        line-height: 19px;
    }

    .best__benefits-img {
        width: 51px;
    }

    .stock {
        margin-top: 10px;
        height: 480px;
    }

    .stock__wrap {
        margin-left: 25px;
    }

    .stock__card {
        width: 490px;
        height: 280px;
    }

    .stock__card-base {
        margin-top: 50px;
        margin-left: 50px;
    }

    .stock__card-title {
        padding-right: 90px;
        font-size: 30px;
        line-height: 34px;
        margin-top: 20px;
        margin-bottom: 32px;
    }

    .stock__card-more {
        font-size: 17px;
        line-height: 20px;
    }

    .stock__card-sale {
        margin-right: 45px;
        margin-bottom: 20px;
    }

    .stock__card-sale_desc {
        width: 120px;
        margin-top: 0;
        margin-left: 5px;
        font-size: 14px;
        line-height: 16px;
    }

    .stock__card-sale_hot {
        display: flex;
        margin-right: 0;
    }

    .stock__pay {
        height: 125px;
        margin-left: 0;
        margin-right: 0;
    }

    .stock__pay-title {
        font-size: 23px;
        line-height: 27px;
    }

    .stock__pay-payments {
        height: 26px;
    }

    .stock__pay-payments img {
        height: 26px;
    }

    .news__wrap {
        margin-top: 40px;
        margin-left: 25px;
    }

    .news__title-wrap {
        margin-right: 25px;
    }

    .news__title {
        font-size: 20px;
        line-height: 24px;
    }

    .news__title-link {
        font-size: 16px;
        line-height: 19px;
    }

    .news__cards {
        display: block;
        margin-top: 30px;
    }

    .news__card {
        margin-bottom: 10px;
        width: fit-content;
    }

    .news__card-img {
        width: 100%;
    }

    .news__card-title {
        font-size: 18px;
        line-height: 22px;
    }

    .news__card-body {
        padding: 40px;
    }

    .news__card-desc {
        font-size: 15px;
        line-height: 21px;
    }

    .news__card-footer {
        margin-top: 20px;
        font-size: 15px;
        line-height: 18px;
    }

    .news__card-footer_img {
        height: 19px;
        margin-right: 12px;
    }

    .news__card-footer > a {
        margin-left: 54px;
    }

    .footer {
        background: url("../img/footer_bg_tablet.jpg") round;
        margin-top: 60px;
    }

    .footer__wrap {
        margin-left: 25px;
        margin-right: 25px;
    }

    .footer__search-form {
        flex-direction: column;
        display: block;
    }

    .footer__input-field {
        height: 60px;
        width: -webkit-fill-available;
        padding-left: 0;
        text-align: center;
        font-size: 18px;
        line-height: 22px;
    }

    .footer__input-img {
        margin-left: 0;
        padding-right: 10px;
    }

    .footer__input-button {
        height: 60px;
        width: -webkit-fill-available;
        font-size: 19px;
        line-height: 22px;
    }

    .footer__input-discount_small {
        justify-content: center;
        height: 70px;
        padding-left: 0;
        font-size: 15px;
        line-height: 17px;
    }

    .footer__input-discount_small p {
        max-width: 200px;
    }

    .footer__title {
        display: block;
        margin-top: 40px;
        font-size: 42px;
        line-height: 50px;
    }

    .footer__login {
        margin-top: 20px;
    }

    .header__login-img {
        width: 24px;
    }

    .footer__button {
        font-size: 18px;
        line-height: 21px;
    }

    .footer__body {
        margin-top: 0;
        display: grid;
    }

    .footer__body-title {
        margin-top: 30px;
        font-size: 25px;
        line-height: 30px;
    }

    .footer__body-ul, .footer__body-ul_double {
        display: block;
        font-size: 18px;
        line-height: 21px;
    }

    .footer__body-li {
        margin-top: 20px;
    }

    .footer__body-li_contacts {
        margin-top: 20px;
    }

    .footer__body-li_contacts img {
        display: block;
        height: 28px;
    }

    .footer__foot {
        margin-top: 30px;
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 19px;
    }

    .footer__foot img {
        width: 24px;
    }

}

@media (max-width: 470px) {

    .header__logo-pic {
        margin-top: 12px;
        height: 95px;
    }

    .header__logo-text {
        margin-left: 0;
        height: 13px;
    }

    .header__menu-button {
        margin-right: 25px;
    }

    .header__menu-button img {
        height: 35px;
    }

    .overlay__menu h1 {
        font-size: 25px;
    }

    .overlay__menu {
        margin-top: 36px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .overlay .closebtn img {
        width: 35px;
    }

    .overlay__footer{
        margin-left: 25px;
        margin-right: 25px;
    }

    .sidenav__dropbtn, .sidenav__dropdown-content a{
        font-size: 16px;
        line-height: 18px;
    }

    .intro__input-search {
        display: block;
        position: relative;
    }

    .intro__input-field {
        width: revert-layer;
        width: -webkit-fill-available;
        padding-left: 20px;
        height: 50px;
        font-size: 16px;
    }

    .intro__input-button {
        margin-top: 0;
        width: revert-layer;
        width: -webkit-fill-available;
        height: 50px;
        font-size: 16px;
    }

    .stock {
        margin-top: 10px;
        height: 420px;
    }

    .stock__wrap {
        margin-left: 25px;
    }

    .owl-carousel .owl-item img:nth-child(1) {
        width: 23px;
    }

    .best__wrap {
        margin-left: 20px;
        margin-top: 520px;
    }

    .stock__card {
        width: 380px;
        height: 240px;
    }

    .stock__card-base {
        margin-top: 30px;
        margin-left: 25px;
    }

    .stock__card-title {
        padding-right: 90px;
        font-size: 25px;
        line-height: 29px;
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .stock__card-more {
        font-size: 15px;
        line-height: 17px;
    }

    .stock__card-sale {
        margin-bottom: 20px;
    }

    .stock__card-sale_desc {
        width: 110px;
        margin-top: 0;
        margin-left: 5px;
        font-size: 13px;
        line-height: 14px;
    }

    .stock__card-sale_hot {
        display: flex;
        margin-right: 0;
    }

    .stock__pay {
        height: 125px;
        margin-left: 0;
        margin-right: 0;
    }

    .stock__pay-title {
        font-size: 23px;
        line-height: 27px;
    }

    .stock__pay-payments {
        height: 26px;
    }

    .stock__pay-payments img {
        height: 26px;
    }
}

@media (max-width: 415px) {

    .stock__pay-title {
        font-size: 18px;
        line-height: 21px;
    }

}

@media (max-width: 320px) {

    .owl-carousel .owl-item img:nth-child(1) {
        width: 22px;
    }
    .owl-carousel .owl-item img {
        width: 12px;
    }

    .owl-theme .owl-nav img{
        height: 14px;
    }

    .owl-theme .owl-nav [class*=owl-] {
        margin: 10px;
    }

    .header__logo-pic{
        margin-top: 8px;
        height: 80px;
    }

    .header__logo-text{
        margin-left: 0;
        height: 11px;
    }

    .header__menu-button{
        margin-right: 20px;
    }

    .header__menu-button img{
        height: 30px;
    }

    .overlay__menu .footer__button{
        display: none;
    }

    .overlay__menu h1 {
        font-size: 20px;
    }

    .overlay__menu {
        margin-top: 27px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .overlay-content {
        margin-top: 40px;
    }

    .overlay-content a {
        margin-top: 40px;
        font-size: 16px;
    }

    .overlay .closebtn img{
        width: 30px;
    }

    .overlay__footer .sidenav__dropdown {
        width: 32px;
    }

    .sidenav__dropbtn{
        font-size: 16px;
    }

    .sidenav__dropdown-content a{
        font-size: 16px;
    }

    .intro__wrap{
        margin-left: 20px;
        margin-right: 20px;
    }

    .intro {
        padding-top: 120px;
    }

    .intro__title {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 10px;
    }

    .intro__subtitle{
        font-size: 14px;
        margin-bottom: 79px;
    }

    .intro__item{
        margin-right: 16px;
    }

    .intro__link-domains_first{
        margin-right: 6px;
        font-size: 20px;
    }

    .intro__link-price_first{
        font-size: 14px;
    }

    .intro__link-domains{
        margin-right: 6px;
        font-size: 14px;
    }

    .intro__link-price {
        font-size: 10px;
    }

    .intro__link-domains_last{
        font-size: 14px;
    }

    .intro__input-search {
        display: block;
        position: relative;
    }

    .intro__input-field {
        padding-left: 20px;
        height: 50px;
        font-size: 16px;
    }

    .intro__input-button {
        margin-top: 0;
        height: 50px;
        font-size: 16px;
    }

    .best__wrap {
        margin-left: 20px;
        margin-top: 440px;
    }

    .best__title {
        width: auto;
        max-width: none;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    }

    .best__list_overflow {
        width: 280px;
        overflow: scroll;
    }

    .best__list-domains {
        width: 350px;
        margin-right: 20px;
    }

    .best__link-domains_first {
        font-size: 20px;
        line-height: 24px;
    }

    .best__item-domains{
        margin-top: 14px;
        margin-right: 20px;
        font-size: 14px;
    }

    .best__cards{
        width: 280px;
        margin-top: 20px;
        display: inline-table;
        overflow: visible;
    }

    .best__card{
        width: 280px;
        padding: 20px;
    }

    .best__card_premium{
        width: 280px;
        height: 328px;
        padding: 20px;
    }

    .best__card_premium:before{
        transform: translate(363px, -76px);
    }

    .best__card-title{
        padding-bottom: 10px;
        font-size: 20px;
        line-height: 24px;
    }

    .best__card-img_business{
        width: -webkit-fill-available;
    }

    .best__card-list{
        font-size: 14px;
        line-height: 17px;
    }

    .best__card-items {
        margin-top: 10px;
    }

    .best__card-price{
       margin-top: 10px;
    }

    .best__card-price_numb{
        font-size: 40px;
        line-height: 47px;
    }

    .best__card-price_currency{
        font-size: 16px;
        line-height: 18px;
    }

    .best__card-price_month{
        font-size: 16px;
        line-height: 19px;
    }

    .best__card-button {
        margin-top: 10px;
        width: 240px;
        height: 50px;
        font-size: 17px;
        line-height: 20px;
    }

    .best__benefits {
        width: 280px;
        margin-top: 30px;
        grid-template-columns: repeat(1, 1fr);
    }

    .best__benefits-cards {
        padding-bottom: 20px;
    }

    .best__benefits-title {
        font-size: 16px;
        line-height: 19px;
    }
    .best__benefits-desc {
        width: 223px;
        font-size: 14px;
        line-height: 20px;
    }

    .best__benefits-img {
        width: 41px;
    }

    .stock{
        margin-top: 10px;
        height: 369px;
    }

    .stock__wrap {
        margin-right: 20px;
        margin-left: 20px;
    }

    .stock__card{
        width: 280px;
        height: 180px;
    }

    .stock__card-base {
        margin-top: 30px;
        margin-left: 20px;
    }

    .stock__card-title{
        padding-right: 40px;
        font-size: 20px;
        line-height: 24px;
        margin-top: 10px;
        margin-bottom: 19px;
    }

    .stock__card-more {
        font-size: 14px;
        line-height: 17px;
    }

    .stock__card-sale {
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .stock__card-sale_desc {
        width: 101px;
        margin-top: 0;
        font-size: 12px;
        line-height: 14px;
    }

    .stock__card-sale_hot {
        display: flex;
        margin-right: 0;
    }

    .stock__pay {
        height: 125px;
        margin-left: 0;
        margin-right: 0;
    }

    .stock__pay-title{
        font-size: 16px;
        line-height: 19px;
    }

    .stock__pay-payments{
        height: 26px;
    }

    .stock__pay-payments img{
        width: 251px;
        height: 26px;
    }

    .stock__pay-logo{

    }

    .news__wrap{
        margin-top: 30px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .news__title-wrap {
        margin-right: 0;
    }


    .news__title {
        font-size: 20px;
        line-height: 24px;
    }

    .news__title-link {
        font-size: 16px;
        line-height: 19px;
    }

    .news__cards{
        display: block;
        overflow: visible;
        height: auto;
        margin-top: 20px;
    }

    .news__card{
        margin-bottom: 10px;
        width: 280px;
    }

    .news__card-img{
        width: 280px;
    }

    .news__card-title {
         font-size: 16px;
         line-height: 19px;
     }

    .news__card-body{
        padding: 19px;
    }

    .news__card-desc {
        font-size: 14px;
        line-height: 20px;
    }

    .news__card-footer{
        width: 240px;
        margin-top: 20px;
        font-size: 14px;
        line-height: 17px;
    }

    .news__card-footer_img {
        height: 19px;
        margin-right: 12px;
    }

    .news__card-footer > a {
        margin-left: 54px;
    }

    .footer{
        background: url("../img/footer_bg_mobile.jpg") round;
        margin-top: 20px;
    }

    .footer__wrap {
        margin-left: 20px;
        margin-right: 20px;
    }

    .footer__search-form{
        flex-direction: column;
    }

    .footer__input-field {
        height: 50px;
        padding-left: 0;
        text-align: center;
        font-size: 16px;
        line-height: 19px;
    }

    .footer__input-img{
        margin-left: 0;
        padding-right: 10px;
    }

    .footer__input-button {
        height: 50px;
        font-size: 16px;
        line-height: 19px;
    }

    .footer__input-discount_small {
        justify-content: center;
        height: 60px;
        padding-left: 0;
        font-size: 14px;
        line-height: 17px;
    }

    .footer__input-discount_small p {
       max-width: 172px;
    }

    .footer__title {
        display: block;
        margin-top: 40px;
        font-size: 24px;
        line-height: 28px;
    }

    .footer__login {
       margin-top: 20px;
    }

    .header__login-img {
        width: 24px;
    }

    .footer__button {
        font-size: 16px;
        line-height: 19px;
    }

    .footer__body {
        margin-top: 0;
        display: grid;
    }

    .footer__body-title {
        margin-top: 30px;
        font-size: 20px;
        line-height: 24px;
    }
    .footer__body-ul, .footer__body-ul_double {
        display: block;
        font-size: 16px;
        line-height: 19px;
    }

    .footer__body-li{
        margin-top: 20px;
    }

    .footer__body-li_contacts img{
        display: block;
        height: 24px;
    }

    .footer__foot {
        margin-top: 30px;
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 19px;
    }

    .footer__foot img{
        width: 24px;
    }






}