/* rubik-500 - latin_cyrillic */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v20-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/rubik-v20-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/rubik-v20-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/rubik-v20-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */ url('../fonts/rubik-v20-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/rubik-v20-latin_cyrillic-500.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* rubik-regular - latin_cyrillic */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v20-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/rubik-v20-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/rubik-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/rubik-v20-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/rubik-v20-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/rubik-v20-latin_cyrillic-regular.svg#Rubik') format('svg'); /* Legacy iOS */
}

/*@media (min-width: 1200px) {*/
    html {
        box-sizing: border-box;
    }

    *, *::before, *::after {
        box-sizing: inherit;
    }

    body, button, input {
        font-family: 'Rubik', serif;
        font-style: normal;
        font-size: 16px;
        line-height: 1.2;
        font-weight: normal;
        background: #F2F2F2;
    }


    .wrapper {
        max-width: 1540px;
        transform: translateX(50px);
        margin: 0 auto;
    }

    /* The sidenav start*/
    .sidenav__list {
        justify-items: center;
        display: grid;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100px;
        background-color: #ffffff;
    }
    .sidenav__list {

}

    .sidenav__language {
        margin-top: 168px;
    }

    .sidenav__chat {
        margin-top: 168px;
    }

    .sidenav__up {
        margin-top: 168px;
        writing-mode: vertical-lr;
        text-orientation: sideways;

    }

    /* The sidenav end*/

    /* header styles start */
    .header {
        width: 100%;
        z-index: 1;
    }

    .header__nav {
        z-index: 1;
        position: relative;

    }

    .header__nav > nav-list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 0 auto;
        width: 100%;
        z-index: 2;
        align-items: center;
    }
    .header__nav > nav-list *{
        z-index: 2;
    }
    .header__nav .header__logo {
        z-index: 4;
    }

    .header__nav .header__list {
        display: flex;
        flex-wrap: wrap;
        justify-self: start;
        z-index: inherit;
    }

    .header__logo-text {
        margin-left: -10px;
    }
    .header__logo-pic {
        margin-top: 12px;
        margin-left: 18px;
    }

    .intro {
        max-height: 800px;
        background: url("../img/top_bg.jpg") no-repeat center;
        background-size: cover;
        padding-top: 263px;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .header__item {
        margin-right: 50px;
    }

    .header__item:last-child {
        margin-right: 0;
    }

    .header__link {
        font-size: 18px;
        line-height: 24px;
        color: white;
        text-decoration: none;
    }

    .header__link-phone {
        font-size: 24px;
        line-height: 28px;
        margin-left: 70px;
        text-decoration: dashed underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 1px;
        text-decoration-color: rgba(255, 255, 255, 0.5);
        color: white;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        top: 48px;
        left: 1252px;
        background-color: #1A2298;
        width: 270px;
        height: 191px;
        box-shadow: 0 12px 14px rgba(26, 34, 152, 0.2);
        padding-left: 30px;
    }
    .dropdown-content .dropdown-content__phone-first{
        margin-top: 20px;
        color: #0090F0;
    }
    .dropdown-content .dropdown-content__phone-second{
        margin-top: 10px;
    }

    .dropdown-content .dropdown-content__callback{
        margin-top: 14px;
        font-size: 18px;
        line-height: 21px;
        text-decoration: dashed underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 1px;
        text-decoration-color: rgba(255, 255, 255, 0.5);
    }
    .dropdown-content .dropdown-content__mail{
        margin-top: 22px;
        font-size: 18px;
        line-height: 21px;
        color: #0090F0;
    }


    .header__link-phone:hover .dropdown-content {
        display: block;
    }

    .header__language {
        margin-left: 50px;
    }

    .header__button {
        margin-right: 80px;
        font-size: 18px;
        line-height: 24px;
        padding: 0;
        color: white;
        background: transparent;
        border: none;
    }

    .header__login-img {
        margin-right: 14px;
    }

    .header__link:hover, .header__link:focus, .header__link:active {
        opacity: .75;
    }

    /* header styles end */

    /* intro styles start */
    .intro__title {
        max-width: 619px;
        font-weight: 500;
        font-size: 50px;
        line-height: 60px;
        color: white;
        margin-bottom: 22px;
    }

    .intro__subtitle {
        max-width: 546px;
        color: white;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 59px;
    }

    .header__input-search {
        display: flex;
        position: relative;
    }
    .header__input-search > div:nth-child(1) {
        position: relative;
    }
    .header__input-search > div:nth-child(1) > p{
        position: absolute;
        top: 50%;
        transform: translateY(40%);
        right:60px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }

    .header__input-field {
        margin-top: 42px;
        width: 1264px;
        height: 100px;
        font-size: 20px;
        line-height: 24px;
        padding-left: 60px;
        border: none;
        background-color: #ffffff;
    }

    .header__input-button {
        margin-top: 42px;
        width: 276px;
        height: 100px;
        font-size: 20px;
        line-height: 24px;
        border: none;
        color: white;
        background: #0090F0;
    }

    .header__list-domains {
        margin-top: 126px;
        display: flex;
        flex-wrap: wrap;
    }

    .header__item-domains {
        margin-right: 50px;
    }

    .header__link-domains {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: white;
        text-decoration: dashed underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 1px;
        text-decoration-color: rgba(255, 255, 255, 0.5);
    }
    .header__link-domains_first {
        font-size: 34px;
        line-height: 28px;
        text-decoration: none;
        color: #0090F0;
    }

    .header__link-domains_last{
        font-weight: 400;
        font-size: 20px;
        line-height: 31px;
        color: white;
        text-decoration: dashed underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 1px;
        text-decoration-color: rgba(255, 255, 255, 0.5);
    }

    .header__link-price_first{
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        text-decoration: dashed underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 1px;
        text-decoration-color: rgba(255, 255, 255, 0.5);
    }


    .header__link-price {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: white;
        opacity: 0.5;
        text-decoration: none;
    }

    .search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active {
        background: #617da3;
    }


/* intro styles end */

/* best styles start */
    .best__wrap{
        margin-top: 745px;
        margin-left: 100px;
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin-right: 140px;
    }

    .best__title{
        margin-left: 140px;
        max-width: 436px;
        font-size: 40px;
        line-height: 47px;
        color: #303030;
    }

    .best__list-domains{

    }

    .best__item-domains{
         border: none;
        background: none;
        font-size: 24px;
        line-height: 28px;
        padding: 0;
     }

    .best__link-domains{
        margin-left: 50px;
        border: none;
        text-decoration: dashed underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 1px;
        text-decoration-color: rgba(48, 48, 48, 0.5);
        color: #303030;
    }

    .best__link-domains_first{
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        text-decoration: none;
        color: #0090F0;
    }

    .best__item-img{
        margin-right: 12px;
    }

    .best__cards{
        display: grid;
        width: 500px;
        height: 625px;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        justify-content: space-between;
        margin-top: 50px;
        margin-left: 240px;
    }

    .best__card{
        background-color: white;
        padding: 70px 60px 60px 60px;
    }
    .best__card_premium{
        background: url("../img/best_bg.jpg") no-repeat center;
        padding: 70px 60px 60px 60px;
    }

    .best__card_img{
        position: absolute;
        transform: translate(307px, -173px);
    }

    .best__card-title{
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        padding-bottom: 30px;
    }

    .best__card_premium .best__card-title {
        color: white;
    }

    .best__card-list{
        overflow: hidden;
    }

    .best__card-items{
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
    }
    .best__card-items > p >  img{
        margin-left: 8px;
    }

    .best__card-items_tariff{
        padding-left: 15px;
    }

    .best__card_premium .best__card-items_tariff{
        color: white;
    }

    .best__card-price{
        margin-top: 38px;
        display: flex;
        align-items: baseline;
    }

    .best__card-price_numb{
        font-weight: 500;
        font-size: 70px;
        line-height: 83px;
        color: #0090F0;
    }

    .best__card-price_currency{
        margin-left: 12px;
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;
        color: #0090F0;
    }

    .best__card-price_month{
        margin-left: 5px;
        font-weight: 400;
        font-size: 26px;
        line-height: 31px;
        color: #303030;
    }
    .best__card_premium .best__card-price_month {
        color: white;
    }

    .best__card-button{
        margin-top: 22px;
        width: 380px;
        height: 80px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #303030;
        border: none;
    }

    .best__card_premium .best__card-button{
        background: #0090F0;
        color: white;
    }

    .leader{
        color: #979797;
    }

    .leader::after{
        margin-left: 15px;
        display: inline-block;
        font-size: 8px;
        color: rgba(48, 48, 48, 0.3);
        content: "______________________________________________________";
        width: 0;
        white-space: nowrap;
    }
    .best__card_premium .leader::after{
        color: white;
        opacity: 0.3;
    }

    .best__benefits{
        display: grid;
        width: 1540px;
        justify-content: space-between;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 40px;
        margin-top: 70px;
        margin-left: 240px;
    }

    .best__benefits-cards{
        display: flex;
    }

    .best__benefits-img{
        height: fit-content;
    }

    .best__benefits-body{
        padding-left: 22px;
    }

    .best__benefits-title{
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #303030;
    }

    .best__benefits-desc{
        padding-top: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #979797;
    }

/* best styles end */

/* stock styles start */

        .stock {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 80px;
            width: 2560px;
            height: 676px;
            background: #171fba;
        }

        .stock__wrapper{
            margin-left: 240px;
            display: flex;
        }

        .stock__cards{
            display: grid;
            justify-content: space-between;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 20px;
            color: #FFFFFF;
        }

        .stock__card{
            display: flex;
            width: 760px;
            height: 400px;
        }

        .stock__card-base{
            margin-top: 99px;
            margin-left: 80px;
        }

        .stock__card-title{
            margin-top: 30px;
            margin-bottom: 43px;
            font-weight: 500;
            font-size: 40px;
            line-height: 47px;
        }

        .stock__card-more{
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
        }

        .stock__card-sale{
            display: grid;
            margin-bottom: 30px;
            align-items: end;
            align-content: end;
        }

        .stock__card-sale_desc{
            margin-top: 20px;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            opacity: 0.6;
        }

        .stock__arrow{
            margin-left: 240px;
            display: flex;
            color: #FFFFFF;
        }

        .stock__pay{
            display: flex;
            align-items: center;
            height: 140px;
            margin-left: 240px;
            background-color: #27C16A;
        }

        .stock__pay-title{
            margin-left: 92px;
            margin-right: 145px;
            font-weight: 500;
            font-size: 30px;
            line-height: 36px;
            color: #FFFFFF;
        }

        .stock__pay-logo{
            margin-right: 60px;
        }



/* stock styles end */










